<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncFixer" version="1.6.0" targetFramework="net472" developmentDependency="true" />
  <package id="Meziantou.Analyzer" version="2.0.82" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Build.Tasks.Git" version="1.1.1" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.NetAnalyzers" version="7.0.3" targetFramework="net472" developmentDependency="true" />
  <package id="Roslynator.Analyzers" version="4.4.0" targetFramework="net472" developmentDependency="true" />
  <package id="Roslynator.CodeAnalysis.Analyzers" version="4.4.0" targetFramework="net472" developmentDependency="true" />
  <package id="Roslynator.Formatting.Analyzers" version="4.4.0" targetFramework="net472" developmentDependency="true" />
  <package id="SonarAnalyzer.CSharp" version="9.8.0.76515" targetFramework="net472" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net472" developmentDependency="true" />
</packages>